C 0 0 "IN_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "IN_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "IN_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "IN_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "IN_3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "IN_3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "GND_2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "EN/UVLO" 0 -500 0 0 60 0 L
X "PIN_TEXT" "EN/UVLO" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "ITIMER" 0 -600 0 0 60 0 L
X "PIN_TEXT" "ITIMER" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "ILIM" 0 -700 0 0 60 0 L
X "PIN_TEXT" "ILIM" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "IMON" 0 -800 0 0 60 0 L
X "PIN_TEXT" "IMON" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "RETRY_DLY" 0 -900 0 0 60 0 L
X "PIN_TEXT" "RETRY_DLY" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "NRETRY" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "NRETRY" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "LDSTRT" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "LDSTRT" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "PG" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "PG" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 1400 0 "GND_3" 1400 0 0 0 60 0 R
X "PIN_TEXT" "GND_3" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "DVDT" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "DVDT" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "IN_4" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "IN_4" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "OUT_1" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "OUT_1" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "OUT_2" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "OUT_2" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "OUT_3" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "OUT_3" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "OUT_4" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "OUT_4" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
C 1400 -700 "OUT_5" 1400 -700 0 0 60 0 R
X "PIN_TEXT" "OUT_5" 1170 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -700 1400 -700 -1 0
C 1400 -800 "OUT_6" 1400 -800 0 0 60 0 R
X "PIN_TEXT" "OUT_6" 1170 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -800 1400 -800 -1 0
C 1400 -900 "OUT_7" 1400 -900 0 0 60 0 R
X "PIN_TEXT" "OUT_7" 1170 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -900 1400 -900 -1 0
C 1400 -1000 "OUT_8" 1400 -1000 0 0 60 0 R
X "PIN_TEXT" "OUT_8" 1170 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1000 1400 -1000 -1 0
C 1400 -1100 "IN_5" 1400 -1100 0 0 60 0 R
X "PIN_TEXT" "IN_5" 1170 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1100 1400 -1100 -1 0
C 1400 -1200 "GND_4" 1400 -1200 0 0 60 0 R
X "PIN_TEXT" "GND_4" 1170 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1200 1400 -1200 -1 0
L 200 100 1200 100 -1 0
L 1200 -1300 1200 100 -1 0
L 1200 -1300 200 -1300 -1 0
L 200 100 200 -1300 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

